.Container *
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 14px;
    outline: none;
}
.Container .newOption
{
    color: #555;
}

.Container .header
{
    background: #d6e7f4;
    color: #CCC;
    font-weight: bold;
}
.Container .data
{
    background: #F0EEEE;
    color: #555;
    padding: 5px;
}
.Container .font {

    font-weight: bold;
    font color: black;
}

.Container .NoBorder .ms-inputuserfield, input[type='text'], .ms-input
{
    border: 2px solid #eee !important;
    color: #545454 !important;
    font-size: 12px !important;
    padding: 4px !important;
}
.btnStyle
{
 background-image:url('../images/menu-bg.png');
 padding:5px;
 border:0;
}
.pickerStyle
{
 width:335px;
}
.Container .controls TD
{
    padding-top: 10px;
}